
/*www.w3.org*/
*{
	background-color:green;
}

/*div[role] {
    color:yellow;
} 
*/

div[role="main"] {
    background-color:black;
} 
/* select all the li elements that are second child of their parents */

li:nth-Child(2){
	background-color:red;
}

/* exercise */

li:nth-Child(2n+1){
	background-color: white;
}
li:nth-Child(2n){
	background-color: yellow;
}

/* select all the a that are child of footer */

footer a{

	background-color:red;
}

b~i{
	background-color:blue;
}

#zen-summary{
	background-color:pink;
}